<!DOCTYPE html>
<html>

<head>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/Cadastro.css' %}">
    
    
    <title>Página de Cadastro</title>
</head>
<body>
    <header>
        <div class="logo">
            <img src="logo_empresa.png" alt="Logo da Empresa">
        </div>
        <div class="header-buttons">
            <button>Login</button>
            <button>Cadastro</button>
        </div>
    </header>
    <div class="container">
        <div class="image">
        <img src="{% static 'img/cadastro3.jpg' %}" alt="Imagem de Cadastro">
        </div>
        <div class="form">
            <h1>Cadastro</h1>
            <form method="POST" action="{% url 'cadastro_juridico' %}">
                {% csrf_token %}
        
                {{form.as_p}}
                    
                
        
                <button type="submit">Cadastrar</button>
            </form>
        </div>
    </div>
    <footer>
        <div class="contact-info">
            <div class="info">
            <img src="{% static 'img/telefone_icone.png' %}" alt="Imagem de Cadastro">
                <p>(11) 1234-5678</p>
            </div>
            <div class="info">
            <img src="{% static 'img/email_icone.png' %}" alt="Imagem de Cadastro">
                <p>contato@empresa.com</p>
            </div>
            <div class="info">
            <img src="{% static 'img/endereço_icone.png' %}" alt="Imagem de Cadastro">
                <p>Rua da Empresa, 123</p>
            </div>
        </div>
        <p class="credit">Crédito da imagem: Nome do Autor / Freepik</p>
    </footer>
</body>
</html>

<script>
    // Selecione o campo CNPJ
    var cnpjField = document.getElementById("id_cnpj");

    // Adicione um ouvinte de evento para formatar o CNPJ
    cnpjField.addEventListener('input', function () {
        var cnpj = cnpjField.value.replace(/\D/g, ''); // Remove caracteres não numéricos
        if (cnpj.length > 2) {
            cnpj = cnpj.replace(/^(\d{2})(\d)/, "$1.$2");
        }
        if (cnpj.length > 5) {
            cnpj = cnpj.replace(/^(\d{2})\.(\d{3})(\d)/, "$1.$2.$3");
        }
        if (cnpj.length > 9) {
            cnpj = cnpj.replace(/^(\d{2})\.(\d{3})\.(\d{3})(\d)/, "$1.$2.$3/$4");
        }
        if (cnpj.length > 13) {
            cnpj = cnpj.replace(/^(\d{2})\.(\d{3})\.(\d{3})\/(\d{4})(\d)/, "$1.$2.$3/$4-$5");
        }
        cnpjField.value = cnpj;
    });
</script>
<script>
    // Selecione o campo CPF
    var cpfField = document.getElementById("cpf");

    // Adicione um ouvinte de evento para formatar o CPF
    cpfField.addEventListener('input', function () {
        var cpf = cpfField.value.replace(/\D/g, ''); // Remove caracteres não numéricos
        if (cpf.length > 3) {
            cpf = cpf.replace(/(\d{3})(\d)/, "$1.$2");
        }
        if (cpf.length > 7) {
            cpf = cpf.replace(/(\d{3})\.(\d{3})(\d)/, "$1.$2.$3");
        }
        if (cpf.length > 11) {
            cpf = cpf.replace(/(\d{3})\.(\d{3})\.(\d{3})(\d)/, "$1.$2.$3-$4");
        }
        cpfField.value = cpf;
    });


</script>
<script>
    // Selecione o campo CEP
    var cepField = document.getElementById("cep");

    // Adicione um ouvinte de evento para formatar o CEP
    cepField.addEventListener('input', function () {
        var cep = cepField.value.replace(/\D/g, ''); // Remove caracteres não numéricos
        if (cep.length > 5) {
            cep = cep.replace(/(\d{5})(\d{3})/, "$1-$2");
        }
        cepField.value = cep;
    });
</script>
