<!DOCTYPE html>
<html>

<head>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/Cadastro.css' %}">
    
    
    <title>Pagina de Login</title>
</head>
<body>
    <header>
        <div class="logo">
            <img src="logo.png" alt="Logo da Empresa">
        </div>
        <div class="header-buttons">
            <button>Contato</button>
            <button onclick="window.location.href='/'">Cadastro</button>
            <button onclick="window.location.href='login'">Login</button>
            <button class= 'extra-button' onclick="window.location.href='doacao_alimento'">QUERO DOAR</button>
        </div>
    </header>
    <div class="container">
        <div class="image">
        <img src="{% static 'img/cadastro3.jpg' %}" alt="Imagem de Cadastro">
        </div>
        <div class="form">
            <h1>Login</h1>
            <form method="POST" action="{% url 'login' %}">
                {% csrf_token %}
        
                {{form.as_p}}
                {{erro}}
                
        
                <button type="submit">Login</button>
            </form>
        </div>
    </div>
    <footer>
        <div class="contact-info">
            <div class="info">
            <img src="{% static 'img/telefone_icone.png' %}" alt="Imagem de Cadastro">
                <p>(11) 1234-5678</p>
            </div>
            <div class="info">
            <img src="{% static 'img/email_icone.png' %}" alt="Imagem de Cadastro">
                <p>food.share2023@gmail.com</p>
            </div>
            <div class="info">
            <img src="{% static 'img/endereço_icone.png' %}" alt="Imagem de Cadastro">
                <p>Rua da Empresa, 123</p>
            </div>
        </div>
        <p class="credit">Crédito da imagem: Nome do Autor / Freepik</p>
    </footer>
</body>
</html>
<script>
    // Selecione o campo de login
    var loginInput = document.getElementById("login");

    // Adicione um ouvinte de evento para identificar e formatar automaticamente
    loginInput.addEventListener('input', function () {
        var valor = loginInput.value.replace(/\D/g, ''); // Remove caracteres não numéricos

        // Identifica se é CPF ou CNPJ com base na quantidade de dígitos
        var formato = (valor.length <= 11) ? "CPF" : "CNPJ";

        // Formatação para CPF
        if (formato === "CPF") {
            if (valor.length > 3) {
                valor = valor.replace(/^(\d{3})(\d)/, "$1.$2");
            }
            if (valor.length > 6) {
                valor = valor.replace(/^(\d{3})\.(\d{3})(\d)/, "$1.$2.$3");
            }
            if (valor.length > 9) {
                valor = valor.replace(/^(\d{3})\.(\d{3})\.(\d{3})(\d)/, "$1.$2.$3-$4");
            }
        }

        // Formatação para CNPJ
        else if (formato === "CNPJ") {
            if (valor.length > 2) {
                valor = valor.replace(/^(\d{2})(\d)/, "$1.$2");
            }
            if (valor.length > 5) {
                valor = valor.replace(/^(\d{2})\.(\d{3})(\d)/, "$1.$2.$3");
            }
            if (valor.length > 8) {
                valor = valor.replace(/^(\d{2})\.(\d{3})\.(\d{3})(\d)/, "$1.$2.$3/$4");
            }
            if (valor.length > 12) {
                valor = valor.replace(/^(\d{2})\.(\d{3})\.(\d{3})\/(\d{4})(\d)/, "$1.$2.$3/$4-$5");
            }
        }

        // Atualize o valor no campo
        loginInput.value = valor;
    });
</script>