* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lexend', Arial, sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    flex-direction: column;
    background-color: #ffffff;
}

header {
    background-color: #ffffff;
    color: #000000;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.header-buttons {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.header-buttons button {
    background-color: #D5CA98;
    color: #000;
    border: 1px solid #000;
    border-radius: 20px;
    padding: 10px 30px;
    cursor: pointer;
    font-weight: bold;
}

.header-buttons .extra-button {
    background-color: #E9CB2F;
    color: #000000;
    font-weight: bold;
}

.logo img {
    max-width: 150px;
}

.container {
    max-width: 1440px;
    margin: 20px auto;
    display: flex;
    justify-content: center;
}

.image {
    flex: 2;
    text-align: center;
    padding: 20px;
}

.image img {
    max-width: 100%;
    height: auto;
    max-height: 635px;
}

.form {
    flex: 1 auto;
    padding: 15px;
    background-color: #D5CA98;
    border: 1px solid #000;
}

.form h1 {
    margin-top: 0;
    text-align: center;
}

.form label {
    display: block;
    margin-bottom: 10px;
}

.form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
    transition: border-radius 0.4s;
}

.form input:focus {
    border-radius: 10px;
}

.form button {
    width: 100%;
    padding: 10px;
    background-color: #E9CB2F;
    color: #000000;
    border: none;
    cursor: pointer;
    font-weight: bold;
    transition: all 0.5s;
    border: 1px #000000 solid;
}

.form button:hover {
    background-color: #B3C262;
    color: #f5f5f5;
    border-radius: 10px;
    font-weight: bold;
    border: 1px #000000 solid;
}

footer {
    background-color: #D5CA98;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: auto;
}

.contact-info {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.contact-info .info {
    display: flex;
    align-items: center;
    gap: 10px;
}

.contact-info .info img {
    max-width: 24px;
    max-height: 24px;
}

.credit {
    font-size: 12px;
}

.hidden-form {
    display: none;
 }
   
