body {
    font-family: 'Lexend', Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(0, 0, 0, 1);
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-image: url('/static/img/doacao.png');
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.5;
    filter: alpha(opacity=50)
}

header {
    background-color: #ffffff;
    color: #333;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.header-buttons {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.header-buttons button {
    background-color: #D5CA98;
    color: #000000;
    border: 1px #000000 solid;
    border-radius: 20px;
    padding: 10px 30px;
    cursor: pointer;
    font-weight: bold;
}

.logo img {
    max-width: 150px;
}

.main-content {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin: 20px;

}

.thank-you {
    padding: 15px;
    color: #ffffff;
    font-size: 36px;
    border-radius: 10px;
    background-color: transparent;
    font-weight: bold;
}

.form-section {
    padding: 20px;
     background-color: #B3C262;
    border: 2px solid #000;
    border-radius: 10px;
    align-items: center;
}

.form-section form {
    display: flex;
    flex-direction: column;
}

.form-section h2 {
    margin-bottom: 15px;
}

.form-section label {
    margin-bottom: 08px;
}

.form-section input[type="text"],
.form-section input[type="tel"],
.form-section input[type="email"],
.form-section input[type="checkbox"]{
    width: 100%;
    padding: 05px;
    margin-bottom: 05px;
}

.form-section input[type="text"]:focus,
.form-section input[type="tel"]:focus,
.form-section input[type="email"]:focus,
.form-section input[type="checkbox"]:focus{
    border-radius: 10px;
    transition: border-radius 0.4s;
}

.form-section textarea:focus {
    border-radius: 10px;
    transition: border-radius 0.4s;
}

.form-section input[type="checkbox"] {
    cursor: pointer;
}

.doar-button {
    width: 100%;
    padding: 15px;
    background-color: #ffd700;
    color: #000;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.5s, color 0.5s;
    align-items: center;
}

.doar-button:hover {
    background-color: #C72546;
    color: #f5f5f5;
}

footer {
    background-color: #D5CA98;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: auto;
}

.contact-info {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.contact-info .info {
    display: flex;
    align-items: center;
    gap: 10px;
}

.contact-info .info img {
    max-width: 24px;
    max-height: 24px;
}

.credit {
    font-size: 12px;
}



.doar-vez-button,
.doar-mensal-button {
    background-color: #000000;
    color: #D5CA98;
    border: none;
    border-radius: 5px;
    padding: 20px;
    cursor: pointer;
    margin-right: 05px;
    font-weight: bold;
    transition: background-color 0.4s, color 0.4s;
    align-items: center;
}

.doar-mensal-button:focus,
.doar-vez-button:focus {
    background-color: #D5CA98;
    color: #000000;
}

.doar-mensal-button:active,
.doar-vez-button:active,
.doar-mensal-button:hover,
.doar-vez-button:hover {
    background-color: #D5CA98;
    color: #000000;
}

.address-fields {
    display: flex;
}

.address-fields label,
.address-fields input {
    flex: 1;
    margin: 0 5px;
}











