body {
    font-family: 'Lexend', Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('Doação.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.7;
    background-color: rgba(0, 0, 0, 0.5);
}

header {
    background-color: #f2f2f2;
    color: #333;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-buttons {
    display: flex;
    gap: 10px;
}

.header-buttons button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 20px;
    padding: 5px 15px;
    cursor: pointer;
}

.logo img {
    max-width: 150px;
}

.main-content {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin: 20px;
}

.thank-you {
    padding: 15px;
    color: #fff;
    font-size: 36px;
    box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.form-section {
    padding: 20px;
    background-color: #96BEC7;
    border: 2px solid #000;
}

.form-section form {
    display: flex;
    flex-direction: column;
}

.form-section h2 {
    margin-bottom: 15px;
}

.form-section label {
    margin-bottom: 08px;
}

.form-section input[type="text"],
.form-section input[type="tel"],
.form-section input[type="email"],
.form-section input[type="checkbox"] {
    width: 100%;
    padding: 05px;
    margin-bottom: 05px;
}

.form-section input[type="checkbox"] {
    cursor: pointer;
}

.doar-button {
    width: 100%;
    padding: 15px;
    background-color: #ffd700;
    color: #000;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

footer {
    background-color: #f2f2f2;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.contact-info {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.contact-info .info {
    display: flex;
    align-items: center;
    gap: 10px;
}

.contact-info .info img {
    max-width: 24px;
    max-height: 24px;
}

.credit {
    font-size: 12px;
}

.doar-vez-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 20px;
    cursor: pointer;
    margin-right: 15px; /* Adapte o valor conforme o espaçamento desejado */
}

.doar-mensal-button {
    background-color: #fff;
    color: #007bff;
    border: none;
    border-radius: 5px;
    padding: 20px;
    cursor: pointer;
}

.address-fields {
    display: flex;
}

.address-fields label,
.address-fields input {
    flex: 1;
    margin: 0 5px;
}











